<!DOCTYPE html>
<html>
<head>
	<title>GLAUCOMA DETECTION</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header id="mainheader">
		<a href="{{url_for('static', filename='Images/SRET.jpg')}}">
			<img id="logo1" src="{{url_for('static', filename='Images/SRET.jpg')}}" height="75">
		</a>
		<h1 style="color:blue;text-align:center;padding-right: 4em;"> GLAUCOMA DETECTION</h1>

	</header>
	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('instruction')}}">Instructions</a></li>
				<li><a href="{{url_for('tool')}}">CDR Tool</a></li>
				<li><a href="{{url_for('classifier')}}">Glaucoma Classifier</a></li>

			</ul>
		</div>
	</nav>
	<section id="showcase">

	</section>
	
	<div class="container">
		<section id="main">
			<p><a href="https://en.wikipedia.org/wiki/Glaucoma" target="blank">Glaucoma</a> 
				Glaucoma is one of the leading causes of blindness for people over the age of 60. It can occur at any age but is more common in older adults.
				Many forms of glaucoma have no warning signs. The effect is so gradual that you may not notice a change in vision until the condition is at an advanced stage.
				Because vision loss due to glaucoma can't be recovered, it's important to have regular eye exams that include measurements of your eye pressure so a diagnosis can be made in its early stages and treated appropriately. If glaucoma is recognized early, vision loss can be slowed or prevented. If you have the condition, you'll generally need treatment for the rest of your life.
			</p>
				
				<h4>Symptoms</h4>
				<p>The signs and symptoms of glaucoma vary depending on the type and stage of your condition. For example:</p>
				<ul>
				<li>Patchy blind spots in your side (peripheral) or central vision, frequently in both eyes</li>
				<li>Tunnel vision in the advanced stages</li>
				<li>Severe headache</li>
				<li>Eye pain</li>
				<li>Nausea and vomiting</li>
				<li>Blurred vision</li>
				<li>Halos around lights</li>
				<li>Eye redness</li>
				</ul>
				<p>If left untreated, glaucoma will eventually cause blindness. Even with treatment, about 15 percent of people with glaucoma become blind in at least one eye within 20 years.</p>
			</section>

	</div>
	<footer id="main-footer">
		<p style="float: right;">Created by Students of Sri Ramachandra Engineering & Technology</p>
	</footer>
</body>
</html>